# Default ignored files
/shelf/
/workspace.xml
/.gitignore
/1MB-License-Plate-Detection-With-4-Landmarks.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
